/*  your css code here. If applicable */
  body {
            font-family: sans-serif;
            margin: 20px;
        }
        ul {
            list-style-type: square; /* To match the bullet points in the image */
        }
        li {
            padding: 5px 0;
        }